{% extends 'base.html' %}
{% block content %}
<form class="form" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
    <div class="form__group">
      <label for="profile_pic">{{field.label}}</label>
      {{field}}
    </div>
    {% endfor %}


    <div class="form__action">
      <a class="btn btn--dark" href="{% url 'home' %}">Cancel</a>
      <button class="btn btn--main" type="submit">Update</button>
    </div>
  </form>
  <a href="{% url 'password_change' %}">Change password</a>
{% endblock %}